*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #fff
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.sidebar button {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    transition: background-color 0.3s;
}

.button {
    margin: 5px 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: white;
    transition: background-color 0.3s;
}

.sidebar button:hover {
    background-color: #886c96;
}

.main-area {
    flex-grow: 1;
    padding: 20px;
    background-color: #fafafa;
    overflow-y: auto;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
}/*Met docent gemaakt*/